.hero {
	text-align: center;
    padding-top: 48px;
	padding-bottom: 248px;
}

.GooglePlayBadge {
    margin: 0px 40px 0px 0px;
}

.hero-copy {
    position: relative; /* To display elements above hero illustrations */
}


.hero-media {
	position: absolute;
	z-index: 0;
	overflow: hidden;
	

}

.hero-paragraph {
    margin-bottom: 32px;
}

.hero-cta {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}


.header-illustration {
	display: none;
	img,
	svg {
		max-width: none;
	}
}

.header-illustration-image {
	display: none;
}



.hero-media-container {
	position: relative;
	top: 150px;
	left: 50%;
	overflow: hidden;
	border: 1px solid silver;
}

.hero-media-image {
	margin: 0 auto;
}

@include media( '<medium' ) {

	.GooglePlayBadge {
		margin: 40px auto;
	}

	.hero-cta {

		> * {
			display: flex;

			+ * {
				margin-top: 32px;
			}
		}
	}

	.hero-media-container {
		display:none;
	}

	.hero {
		text-align: center;
	    padding-top: 48px;
		padding-bottom: 48px;
	}



}


@include media( '>medium' ) {

    .hero {
		text-align: left;
        padding-top: 48px;
		padding-bottom: 240px;
		background: url(/dist/images/chess1.png) no-repeat local 100% 100%;
		background-size: 50%;
    }

    /* Split hero in two half */
	.hero-inner {
		
		display: flex;
		justify-content: space-between;
	}

    .hero-copy {
        padding-top: 40px;
        padding-right: 48px;
        min-width: 448px;
        width: 712px;
        max-width: 712px;
		z-index: 1;
    }

	.hero-title {
		margin-bottom: 16px;
	}

	.hero-paragraph {
		margin-bottom: 32px;
	}

	.hero-cta {
		display: flex;
		align-items: center;
		margin: 0;

		.button {
			min-width: 170px;

			&:first-child {
				margin-right: 32px;
			}
		}
	}

	.header-illustration {
		display: block;
	}


	.header-illustration-image {
		display: block;
		position: absolute;
		top: -168px;
		left: -722px;
		width: 1440px;
		height: 324px;
	}
	
}
