.login {
	
}
.whitePanel {
	background: color(bg,2);
	padding: 110px 106px;

}



.whiteBox {
	background: color(bg,2);
	padding: 110px 106px;
	margin: 60px auto 100px auto;
	max-width:562px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
	border-radius: 24px;

	.button {
		width: 100%;
		margin-top:25px;
	}

}


.whiteBox, .whitePanel {
	label, p {
		font-size: 14px;
		line-height: 17px;
		color: #363A40;
	}
	label {
		display: block;
		margin-top: 14px;
	}
	p {
		margin: 4px 0px;
	}
	h1 {
		font-size: 30px;
		line-height: 36px;
		color: #363A40;
		margin-top: 4px;
	}

	input {
		border: 1px solid #E3E4E5;
		box-sizing: border-box;
		border-radius: 6px;
		background: white;
		width: 100%;
		margin-bottom: 18px;
		max-width:562px;
	}
	a {
		cursor: pointer;
	}
}

@include media( '<medium' ) { 
	.whiteBox {
		background: color(bg,2);
		padding: 55px 50px;
	}

}