.statictext {
	background: color(bg, 2);
	padding: 50px 40px 80px 40px;
	color: color(typography,2);
	h1 {
		padding: 100px;
	}
	h1,h2,h3 {
		color:color(typography,2);
	}
	a, a:hover {
		  color:color(typography,2);
		  text-decoration: none;
		}

	p {
		color:color(typography,2);
		margin: 10px 0px 40px 0px;
	}
}